:root {
  --almond: #ede0d4ff;
  --dun: #e6ccb2ff;
  --tan: #ddb892ff;
  --chamoisee: #b08968ff;
  --coffee: #7f5539ff;
  --raw-umber: #9c6644ff;
  --text-dark: #3b2f2fff;
  --text-light: #ffffffcc;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  transition: background-color 0.3s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Make the Angular app fill the screen */
app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full screen height */
}

/* Main content expands and pushes footer down */
.main-content {
  flex: 1;
}
